@model Usuario


@{ 
    ViewBag.Title = "Detalles del usuario";
}


    
        <h1>Info de un usuario en particular</h1>

        <div>

            <ul>
                <li>@Model.nombre</li>
                <li>@Model.email</li>
                <li>@Model.edad</li>
            </ul>


            <a class="btn btn-primary" asp-controller="Home" asp-action="Edite" asp-route-id="@Model.id">Editar Usuario</a>

            <a onclick="return confirm('Estas seguro de eliminar este usuario?')" class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.id">Eliminar usuario</a>

            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver al menu principal</a>

        </div>


        

    